<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <listeners>
  <listener class-name="Academy.Listeners"></listener>
  </listeners>
  <test thread-count="5" name="AppTest">
    <classes>
     <class name="Academy.AppTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ValidateTitle">
    <classes>
      <class name="Academy.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="HomePage">
    <classes>
     <class name="Academy.HomePage"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ValidateDisplay">
    <classes>
     <class name="Academy.ValidateDisplay"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 
     
      
      